<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dumbways Day 8 Task</title>
    <link rel="icon" type="image/x-icon" href="public/favicon/favicon.ico">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/font.css">
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="ff-tommy-md bg-grey-light">

    <nav class="navbar navbar-expand-lg bg-light fs-5 shadow ">
        <div class="container">
            <a class="navbar-brand me-5" href="/">
                <img src="/public/img/dumbways.png" alt="Dumbways" width="54">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link me-4 ff-tommy-bold" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-4" href="/project">My Project</a>
                    </li>
                </ul>
                <a class="btn fs-6 px-4 btn-dangered text-white" href="/contact">Contact</a>
            </div>
        </div>
    </nav>
    
    <section class="row justify-content-between container-fluided container-md shadow p-md-5 pt-4 pb-5 mb-5 mt-2 mt-md-5 mx-auto bg-body rounded">
        <div class="col-12 col-lg-6 col-xl-7 px-0 py-4 fs-5">
            <h1 class="fs-2 ff-tommy-bold pb-2">Hi, Welcome to my journey</h1>

            <p class="text-justify mb-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, eaque culpa recusandae pariatur quas asperiores. Incidunt earum animi doloremque perferendis? Ipsum magnam, sunt ducimus delectus libero quidem illo quo totam dolor dolorum explicabo, sit voluptatum dicta soluta facere ratione accusamus perferendis veritatis fugiat nihil! Saepe aliquam eius expedita voluptates consequatur suscipit, corporis nostrum cupiditate officia aut corrupti perferendis.
            </p>

            <div class="row w-100 ms-0 mb-3 mb-lg-5">
                <div class="col-12 col-lg-5 col-xl-4 col-xxl-3 px-4 py-2 bg-dark rounded-pill me-lg-3 text-center">
                    <a class="nav-link text-light">Contact</a>
                </div>
                
                <div class="col-12 col-lg-6 -ms-2 ms-md-0 mt-3 mt-lg-0 mb-3 mb-lg-0">
                    <a class="d-flex align-items-center nav-link text-dark h-100" href="#">Download CV <img class="ms-3" src="public/img/download.png" width="30"></a>
                </div>
            </div>

            <ul class="d-flex h-40px -ms-5 w-250px mt-3">
                <li class="w-25 list-group-item">
                    <a class="d-block h-100" href="http://www.linkedin.com">
                        <img class="h-100" src="public/img/linkedin.png" alt="">
                    </a>
                </li>
                <li  class="w-25 list-group-item">
                    <a class="d-block h-100" href="http://www.instagram.com">
                        <img class="h-100" src="public/img/instagram.png" alt="">
                    </a>
                </li>
                <li class="w-25 list-group-item">
                    <a class="d-block h-100" href="http://www.facebook.com">
                        <img class="h-100" src="public/img/facebook.png" alt="">
                    </a>
                </li>
                <li class="w-25 list-group-item">
                    <a class="d-block h-100" href="http://www.twitter.com">
                        <img class="h-100" src="public/img/twitter.png" alt="">
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-12 col-lg-5 col-xl-4 bg-grey-light p-0 rounded-5 shadow">
            <div class="card p-0">
                <img class="card-img-top" src="public/img/brendan-eich.jpg" alt="Brendan Eich">
                <h3 class="text-center pt-3 ff-tommy-bold">Brendan Eich</h3>
                <p class="text-center fs-5 mt-0">Javascript Creator</p>
            </div>
        </div>
       
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>