<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dumbways Day 7 Task</title>
    <link rel="stylesheet" href="../public/css/navigasi.css">
    <link rel="stylesheet" href="../public/css/font.css">
    <link rel="stylesheet" href="../public/css/this.myProject.css">
    <link rel="stylesheet" href="../public/css/body.css">
    <link rel="icon" type="image/x-icon" href="../public/favicon/favicon.ico">
</head>
<body>
    
    <nav>
        <div class="kotakNav">
            <div class="navLeft">
                <ul>
                    <li>
                        <a href="/"><img src="../public/img/dumbways.png" alt="Dumbways Logo" class="logo"></a>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a style="font-weight: 600; letter-spacing: 1px;">My Project</a>
                    </li>
                </ul>
            </div>
        
            <div class="contact">
                <div>
                    <a href="/contact">Contact Me</a>
                </div>
            </div>
        </div>
    </nav>
    

    <div class="myProject">
        <div class="judul">
            <h1>MY PROJECT</h1>
            <a class="creatNew" href="/form-project">Creat New Project</a>
        </div>

        <div class="container">
            {{range $index, $data := .Projects}}
            <div class="card">
                <a href="/project/{{$index}}" class="maxSizeImg">
                    <img src="${dataForm[i].renderImg}" alt="" class="imgContent">
                </a>
                <div class="judulCard">
                    <div class="kotakJudul">
                        <h3>{{$data.ProjectName}}</h3>
                    </div>
                    <div class="durasi">
                        <div>
                            <p>Duration :</p>
                        </div>
                        <div>
                            <p>${dataForm[i].duration}</p>
                        </div>
                    </div>
                </div>
                <div class="isiCard">
                    <p>{{$data.Description}}</p>
                </div>
                <div class="techCheck">
                    <img src="${dataForm[i].nodeJs}">
                    <img src="${dataForm[i].reactJs}">
                    <img src="${dataForm[i].vueJs}">
                    <img src="${dataForm[i].typeScript}">
                </div>
                <div class="editDelete">
                    <a href="/form-edit-project/{{$index}}" class="edit">Edit</a>
                    <a href="/delete-project/{{$index}}" class="delete">Delete</a>
                </div>
            </div>
            {{end}}
        </div>
    </div>
    

    <script src="js/myProject.js"></script>
    <script src="js/requiredForMyProjectForm.js"></script>
    <script src="js/myProjectVisualization.js"></script>
    <script src="js/myProjectCalcDur.js"></script>
    <script src="js/myProjectDetail.js"></script>
</body>
</html>