<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dumbways Day 7 Task</title>
    <link rel="stylesheet" href="../public/css/navigasi.css">
    <link rel="stylesheet" href="../public/css/font.css">
    <link rel="stylesheet" href="../public/css/myProjectForm.css">
    <link rel="stylesheet" href="../public/css/body.css">
    <link rel="icon" type="image/x-icon" href="../public/favicon/favicon.ico">
</head>
<body>
    
    <nav>
        <div class="kotakNav">
            <div class="navLeft">
                <ul>
                    <li>
                        <a href="/"><img src="../public/img/dumbways.png" alt="Dumbways Logo" class="logo"></a>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/project">My Project</a>
                    </li>
                </ul>
            </div>
        
            <div class="contact">
                <div>
                    <a href="/contact">Contact Me</a>
                </div>
            </div>
        </div>
    </nav>
    
    <section class="form">    
        <div class="judul">
            <h1>ADD MY PROJECT</h1>
        </div>
    
        <form action="/add-project" method="POST">
            <div>
                <label>
                    Project Name
                    <input type="text" class="projectName input" name="projectName">
                </label>
            </div>
    
            <div class="date">
                <label>
                    Start Date
                    <input type="date" class="startDate input" name="startDate">
                </label>
                <label>
                    End Date
                    <input type="date" class="endDate input" name="endDate">
                </label>
            </div>
            
            <div>
                <label>
                    Description
                    <textarea name="description" class="description input" cols="30" rows="6"></textarea>
                </label>
            </div>
    
            <div>
                <label>
                    Technology
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="nodeJs lgcb" value="Node JS">
                            Node JS
                        </label>
                        <label>
                            <input type="checkbox" class="reactJs lgcb" value="React JS">
                            React JS
                        </label>
                        <label>
                            <input type="checkbox" class="vueJs lgcb" value="Vue JS">
                            Vue JS
                        </label>
                        <label>
                            <input type="checkbox" class="typeScript lgcb" value="TypeScript">
                            TypeScript
                        </label>
                    </div>
                    
                </label>
            </div>
    
            <div>
                <label>
                    Upload Image
                    <div class="upload">
                        <div class="choose" style="cursor: pointer;">choose</div>
                        <img src="../public/img/link.png" alt="Choose Image" class="linkLogo">
                        <input type="file" accept="image/png, image/jpeg" class="uploadImg" style="visibility:hidden;">
                    </div>
                    
                </label>
            </div>
            <div class="submit">
                <button class="create">Create</button>
            </div>
        </form>
    </section>

</body>
</html>